body {
	background: white;
	margin:0;
	padding:0;
	font-family: Verdana;
}


.dimmer-msg {
	background: rgba(0,0,0,0.85);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 200;
	display: none;
	overflow: auto;
}

.msg {
	position: relative;
	max-width: 500px;
	margin: 20px auto 0 auto;
	padding: 10px;
	background: black;
	color: white;
	border: 10px solid rgba(255, 255, 255, 0.85);
	font-size: 110%;
	line-height: 1.6;
}

.msg.error {
	border: 10px solid rgba(255, 0,0, 0.85);
}

.msg.success {
	border: 10px solid rgba(0,255,0, 0.85);
}

.timeline {
	margin: 30px 10px 10px 10px;
}

.timeline .day {
	position: relative;
	padding-top: 20px;
	height: 50px;
	border: 1px solid #e2e2e3;
	margin-bottom: 3px;
}

.timeline .day .date {
	position: absolute;
	top: 2px;
	left: 2px;
	color: #414142;
	font-size: 80%;
}

.timeline .page {
	border: 1px solid black;
	display: inline-block;
	position: absolute;
	height: 42px;
}

.tooltip {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;
	/* Position the tooltip text - see examples below! */
	position: absolute;
	z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.timeline .page:hover .tooltip {
	visibility: visible;
}

.graph {
	position: relative;
	left: 0px;
	right: 10px;
	top: 10px;
	height: 200px;
}

#canvas {
	border: 1px solid black;
	margin: 10px;
	padding: 10px;
}

#canvas.small {
	width: 30px;
	height: 30px;
}

.month .day {
	display: none;
}

.month .name {
	display: block;
	border: 1px solid #aaabab;
	padding: 5px;
	margin: 5px 0;
	cursor: pointer;
}

.month .name::before {
	content: '\25bc';
	padding-right: 0.5em;
}
